USE [CusTrackDBPass]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 18.01.2021 20:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 18.01.2021 20:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Birthday] [datetime] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seans]    Script Date: 18.01.2021 20:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NULL,
	[IsDraft] [bit] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Money] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Seans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.01.2021 20:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [Surname], [Birthday], [Address], [Phone]) VALUES (1, N'Sertac', N'Yıldız', CAST(N'2019-09-17T00:00:00.000' AS DateTime), N'Balıkesir/Susurluk', N'( 333 ) 333  33  33')
INSERT [dbo].[Customers] ([Id], [Name], [Surname], [Birthday], [Address], [Phone]) VALUES (3, N'Burak', N'Şahin', CAST(N'2019-12-01T00:00:00.000' AS DateTime), N'balıkesir', N'( 544 ) 444  44  44')
INSERT [dbo].[Customers] ([Id], [Name], [Surname], [Birthday], [Address], [Phone]) VALUES (4, N'Meltem', N'Arabacı', CAST(N'2019-09-27T00:00:00.000' AS DateTime), N'Bursa', N'( 222 ) 222  22  22')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Seans] ON 

INSERT [dbo].[Seans] ([Id], [Title], [Text], [IsDraft], [Date], [Money], [CustomerId]) VALUES (1, N'Lazer Uygulaması', N'2. Seans Lazer Uygulaması', 1, CAST(N'2019-10-08T00:00:00.000' AS DateTime), 200, 1)
INSERT [dbo].[Seans] ([Id], [Title], [Text], [IsDraft], [Date], [Money], [CustomerId]) VALUES (3, N'Burak', N'Yüz Bakım', 0, CAST(N'2019-09-28T00:00:00.000' AS DateTime), 200, 3)
INSERT [dbo].[Seans] ([Id], [Title], [Text], [IsDraft], [Date], [Money], [CustomerId]) VALUES (4, N'Cilt Bakımı', N'Yüz Bölgesi', 0, CAST(N'2020-02-13T00:00:00.000' AS DateTime), 500, 4)
SET IDENTITY_INSERT [dbo].[Seans] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Email]) VALUES (1, N'root', N'AIvv+43EYTHNVzwOWPRwrcq3vq77aA6q/CTvC2BbhpKpW2EWZD20NT1efqvEbZjSFg==', N'buraksahin94@hotmail.com')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Email]) VALUES (2, N'burak', N'AIeNDJGLcvjupp5rCXbLshpCyxdEV+U1JP86Rq5MLQlSIpcMZEEKO/pEQZoJokCXAg==', N'burak10sahin@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Seans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Seans_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seans] CHECK CONSTRAINT [FK_dbo.Seans_dbo.Customers_CustomerId]
GO
